.cadastrar {
  display: flex;
  flex-direction: column;
  background-color: #54c0ff;
  align-items: center;
  width: 65%;
  max-width: 50rem; /* Limite de largura máxima */
  border-radius: 15px;
  margin: 0 auto;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  gap: 1.05rem;
  padding: 3rem 2rem;
  margin-bottom: 5rem;
  transition: width 0.5s ease;

  @media (min-width: 768px) {
    flex-direction: row; /* Layout em linha para telas maiores */
    justify-content: space-between; /* Espaço entre o formulário e a imagem */
    padding: 5rem 9rem 5rem 3rem;
    width: 60%; /* Ocupa 100% da largura do contêiner em telas grandes */
    flex-wrap: wrap; /* Permite que os elementos se movam para a próxima linha se necessário */
  }

  /* Ajustes específicos para telas entre 970px e 1000px */
  @media (min-width: 970px) and (max-width: 1000px) {
    flex-direction: column; /* Mantenha o layout em coluna */
    align-items: center; /* Centraliza os itens */
    padding: 2rem; /* Ajuste o padding se necessário */
    gap: 1rem; /* Reduz o espaço entre os itens */
    
    .formulario {
      width: 100%; /* A largura total para o formulário */
      max-width: 35rem; /* Limite a largura máxima do formulário */
    }
  }

  @media (min-width: 1001px) {
    width: 100%; /* Permite que a seção aumente em telas maiores que 1000px */
  }

  legend {
    color: #ffffff;
    font-size: 2.5rem;
    font-weight: 600;
    text-align: left;

    @media (min-width: 768px) {
      font-size: 4.5rem;
      width: 27.5rem;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 100%; /* Garante que o formulário ocupe toda a largura em telas menores */
    max-width: 35rem; /* Limitar a largura do formulário em telas grandes */

    @media (min-width: 768px) {
      width: 50%; /* Metade da largura para telas maiores */
    }
  }

  fieldset {
    border: none;
    margin-bottom: 20px;
  }

  p {
    color: #ffffff;
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 2rem;
    text-align: left;

    @media (min-width: 768px) {
      font-size: 1.75rem;
    }
  }

  .mensagem {
    display: none; /* Inicialmente escondido */
    color: green;
    font-weight: bold;
    margin-top: 20px;
    font-size: 1.2em;
    border: 1px solid green;
    padding: 10px;
    background-color: #e8f5e9;
    border-radius: 5px;
  }

  .saco {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem; /* Adiciona margem inferior para separar a imagem dos inputs */

    img {
      height: 10rem;
      width: auto;

      @media (min-width: 768px) {
        height: 15rem;
        width: 12rem;
      }

      @media (max-width: 480px) {
        height: 8rem;
        width: auto;
      }
    }
  }
}

#nome,
#sobrenome,
#email,
#registrar {
  background: #ffffff;
  color: #54c0ff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  width: 85%;
  box-sizing: border-box; /* Garante que padding não afete a largura total */

  @media (max-width: 768px) {
    margin-bottom: 1rem; /* Adiciona uma margem entre os inputs em telas pequenas */
  }

  @media (min-width: 768px) {
    width: calc(100% - 20px); /* Tamanho automático menos padding para telas maiores */
    margin: 0.2rem 0;
  }
}

#email {
  margin: 1rem 0;
}

#registrar {
  background: #fdad4c;
  color: #ffffff;
  transition: all 0.5s ease-out;
  cursor: pointer;

  &:hover {
    transform: scale(1.04);
    transition: transform 0.5s ease-out;
  }
}
