.cadastrar {
  display: flex;
  background-color: #54c0ff;
  align-items: center;
  width: 50rem;
  border-radius: 15px;
  margin: 0 auto;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  gap: 1.05rem;
  margin-bottom: 10rem;
  padding: 5rem 9rem 5rem 3rem;
  transition: width 0.5s ease; // Transição suave de 0.5 segundos

  &.expandido {
    width: 55rem; // Novo width ao clicar
  }

  legend {
    color: #ffffff;
    font-size: 70px;
    font-weight: 600;
    text-align: left;
  }

  form {
    display: flex;
    flex-direction: column; /* Coloca os campos em coluna */
    padding: 30px;
  }

  fieldset {
    border: none;
    margin-bottom: 20px;
  }

  p {
    color: #ffffff;
    font-size: 27px;
    font-weight: 600;
    margin-bottom: 3rem;
    text-align: left;
  }
  img {
    height: 15rem;
    width: 12rem;
  }
  input::placeholder {
    color: #54c0ff;
  }

  .mensagem {
    display: none; /* Inicialmente escondido */
    color: green; /* Cor do texto */
    font-weight: bold; /* Texto em negrito */
    margin-top: 20px; /* Margem superior */
    font-size: 1.2em; /* Tamanho da fonte */
    border: 1px solid green; /* Borda verde */
    padding: 10px; /* Espaçamento interno */
    background-color: #e8f5e9; /* Fundo claro */
    border-radius: 5px; /* Bordas arredondadas */
  }
}

#nome {
  background: #ffffff;
  color: #54c0ff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  width: 240px;
}

#sobrenome {
  background: #ffffff;
  color: #54c0ff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  width: 230px;
}

#email {
  background: #ffffff;
  color: #54c0ff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  width: 30.938rem;
  margin: 1rem 0;
}

#registrar {
  background: #fdad4c;
  color: #ffffff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  width: 32rem;
  transition: all 0.5s ease-out;
  cursor: pointer;
}

#registrar:hover {
  transform: scale(1.04);
  transition: transform 0.5s ease-out;
}