footer {
  background: #fdad4c;
  display: flex;
  justify-content: center;
  width: 100%; /* Garantir que o footer ocupe 100% da largura */

  .footer__content {
    display: flex;
    flex-direction: column; /* Mantém os itens em coluna por padrão */
    justify-content: center;
    align-items: center;
    padding: 3rem 2rem; /* Padding para conteúdo interno */
    gap: 2rem;
    width: 100%; /* Largura total para telas pequenas */
    max-width: 1200px; /* Limite de largura para telas grandes */
    box-sizing: border-box; /* Inclui padding na largura total */
    margin: 0 auto; /* Centraliza o conteúdo */

    @media (min-width: 768px) {
      flex-direction: column;
      justify-content: space-between; /* Espaçamento entre os itens */
      padding: 5rem 2rem; /* Ajuste de padding para telas maiores */
      max-width: calc(100% - 4rem); /* Evita vazamento do conteúdo */
    }

    @media (min-width: 1300px) {
      flex-direction: row;
      justify-content: space-between; /* Espaçamento entre os itens */
      padding: 5rem 2rem; /* Ajuste de padding para telas maiores */
      max-width: calc(100% - 4rem); /* Evita vazamento do conteúdo */
    }
  }
}

.footer_logoSocial {
  filter: brightness(0) invert(1);
  display: flex;
  gap: 15px;

  a {
    transition: all 0.3s ease;

    &:hover {
      filter: brightness(1.5);
      transform: scale(1.1);
    }

    img {
      width: 30px;
      height: auto;

      @media (min-width: 768px) {
        width: 40px; /* Ajuste para telas maiores */
      }
    }
  }
}

.footer_item {
  margin: 0; /* Remover margens laterais para evitar vazamentos */
  width: 100%; /* Garantir que o item ocupe toda a largura disponível */

  @media (min-width: 768px) {
    margin: 0 10px; /* Adiciona um pouco de margem em telas maiores */
  }
}

.footer a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
  font-size: 1rem; /* Reduzido para evitar vazamento */
  transition: all 0.5s ease-out;
  display: block; /* Para garantir que o link ocupe toda a largura do item */

  &:hover {
    color: $secundaria2;
    transform: scale(1.1);
  }

  @media (min-width: 768px) {
    font-size: 1.1rem; /* Tamanho da fonte ligeiramente aumentado em telas maiores */
  }
}

ul {
  display: flex;
  flex-direction: column; /* Mantém os links empilhados por padrão */
  gap: 10px; /* Espaçamento entre os itens */
  text-align: center;
  width: 100%; /* Garantir que a lista ocupe 100% da largura disponível */

  @media (min-width: 768px) {
    flex-direction: row; /* Muda para linha em telas maiores */
    gap: 30px; /* Aumenta o espaçamento em telas maiores */
  }
}
