html {
  scroll-behavior: smooth;
}

body {
  font-family: $font;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $primaria1;

  nav {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    height: 2.7rem;
    padding: 1.5rem 0;
  }

  nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 1rem;
  }

  li a, p a {
    padding: 0.6rem 0.8rem 0.6rem 0.8rem;
    background-color: #ffffff;
    border-radius: 0.3rem;
    font-weight: $bold;
    transition: all 0.5s ease-out;
    text-decoration: none;
    color: $preto;
  }

  li a:hover, p a:hover {
    background-color: $primaria1;
  }
}
