.superapp {
  background-color: $secundaria1;
  height: 38rem;
  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
  }

  &__title {
    display: flex;
    flex-direction: column;
    color: $preto;
    font-size: 4.5rem;
    font-weight: 500;
    gap: 4rem;

    h1 {
      width: 27rem;
    }
    span {
      font-weight: 700;
    }
  }

  &__sayuri {
    display: flex;
    justify-content: center;
    background-color: $primaria1;
    color: #ffffff;
    padding: 1rem 1.5rem;
    border-radius: 5rem;
    font-size: 1.5rem;
    font-weight: $bold;
    width: 18rem;
  }

  &__aproveite {
    display: flex;
    color: $preto;
    font-size: 1.125rem;
    gap: 0.5rem;
    font-weight: $bold;
  }

  a {
    text-decoration: none;
    color: $preto;
  }

  &__image {
    position: relative;
    top: -1rem;
    z-index: 1;
    img {
      max-width: 100%;
      height: 40rem;
      margin: 0;
    }
  }
}
