.vantagens {
  background-color: $primaria2;
  display: flex;
  justify-content: center;
  padding: 1rem; // Reduzindo o padding em telas pequenas

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; // Ajuste para ocupar a largura total
    max-width: 1200px; // Limite máximo de largura
    gap: 2rem; // Ajustando o gap

    @media (max-width: 768px) {
      flex-direction: column;
      gap: 2rem; // Ajustando o gap para telas pequenas
    }
  }

  &__left {
    display: flex;
    flex-direction: column;
    gap: 2rem; // Ajustando o gap
    margin: 2rem 0; // Ajustando a margem

    @media (max-width: 768px) {
      align-items: center;
      text-align: center;
      gap: 1rem; // Menor gap em telas pequenas
      margin: 1rem 0; // Menor margem
    }
  }

  h2 {
    font-size: 3rem; // Ajuste para telas menores
    font-weight: $bold;
    width: 100%; // Para evitar vazamento

    @media (max-width: 768px) {
      font-size: 2.2rem; // Ajustando ainda mais para telas menores
    }
  }

  // Aumentando a largura da imagem e ajustando o tamanho
  img {
    max-width: 100%; // Para evitar vazamento
    height: auto; // Mantém a proporção
    margin: 0 auto; // Centraliza a imagem
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    gap: 2rem;
    width: 100%;

    @media (max-width: 768px) {
      margin: 1rem -1rem 1rem 1rem;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    border-radius: 1rem;
    border: 2px solid #e8e8e8;
    padding: 2rem;
    font-weight: $bold;
    height: 11rem;
    width: 13rem;
    background-color: #ffffff;
    transition: all 0.5s ease-out;

    @media (max-width: 768px) {
      width: 80%;
      height: auto;
      padding: 1.5rem;
    }

    h3 {
      font-size: 1.2rem;

      @media (max-width: 768px) {
        font-size: 1rem;
      }
    }

    p {
      font-size: 0.95rem;

      @media (max-width: 768px) {
        font-size: 0.85rem;
      }
    }
  }

  &__card:hover {
    transform: scale(1.15);
    transition: transform 0.5s ease-out;

    @media (max-width: 768px) {
      transform: scale(1.05); // Reduzi o efeito de hover em telas pequenas
    }
  }

  &__mensage {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-color: $primaria1;
    width: 37.5rem;
    height: 2.375rem;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    font-size: 1.5rem;

    @media (max-width: 1024px) {
      width: 100%;
      font-size: 1.3rem;
    }

    @media (max-width: 768px) {
      font-size: 1.1rem;
    }
  }
}

.icon {
  font-size: 1.85rem;
  font-weight: $light;
  color: $primaria2;
  background-color: #ffffff;
  border-radius: 6.25rem;
  padding: 0.5rem;
  width: 1.8rem;

  @media (max-width: 768px) {
    font-size: 1.5rem;
    width: 1.5rem;
  }
}
