/* ___ Fonts ___ */

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

$font: "Quicksand", "Calibri", "sans-serif";

$thin: 100;
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;

/* ___ Colors ___ */
$primaria1: #fdad4c;
$primaria2: #54c0ff;

$secundaria1: #fbf388;
$secundaria2: #70d8ff;

$cinza1: #ededed;
$cinza2: #b8bcbf;

$preto: #000000;

/* ___ Media Query ___ */
@mixin MQ($size) {
  @media screen and (max-width: $size) {
    @content;
  }
}

$XS: 500px;
$S: 770px;
$M: 960px;
$L: 1024px;
$XL: 1130px;

/* ___ Scrollbar ___ */

html ::-webkit-scrollbar {
  width: 10px;
}

html ::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: $primaria1;
}

html ::-webkit-scrollbar-track {
  background: rgba(41, 42, 44, 0.03);
}
